language: java
jdk:
 - oraclejdk8
sudo: false # faster builds
install:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script:
- mvn test
- mvn cobertura:cobertura
after_success:
  - bash <(curl -s https://codecov.io/bash)